/* .bg-div{
    width: fit-content;
    border: 2px solod black;
    background-color:turquoise;
}
.liitems{
    background-color: yellow;
    width: fit-content;
} */
.red{
    color: red;
 }
 .blue{
    color:blue;
 }
 .color{
    background-color: pink;
    border: 2px solid black;
 }